@import "../../theming";

$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);

:host {
  @include mat-elevation(4);

  font-size: 16px;
  height: 48px;
  max-width: 620px;
  min-width: 300px;
  width: 100%;

  .mat-form-field {
    margin-top: 6px;
    width: 100%;
  }
}

:host-context(.light-theme) {
  background-color: map-get($background, app-bar);
  color: map-get($foreground, text);
}

:host-context(.web) {
  [handset] {
    display: none;
  }
}

:host-context(.handset) {
  [web] {
    display: none;
  }
}