@import '../../theming';

$background: map-get($light-theme, background);
$foreground: map-get($light-theme, foreground);

:host {
    font-size: 16px;
    height: 48px;
    width: 620px;

    .mat-form-field {
        margin-top: 6px;
        width: 100%;
    }
}

:host-context(.light-theme) {
    background-color: map-get($background, background);
    color: map-get($foreground, text);
}