@import "../../theming";

@keyframes show {
  0% {
    transform: translateY(-1vh);
  }
  100% {
    transform: unset;
  }
}

.backdrop {
  min-height: 100%;
  background-color: #2196f3;
  color: #ffffff;
  padding: 100px;
  @include breakpoint($sm) {
    padding: 100px 40px;
  }
  h1,
  h2 {
    font-weight: 900;
    font-size: 5em;
    height: 1em;
    display: block;
    animation: show 0.5s linear;
    z-index: 2;
    white-space: nowrap;
  }
  p {
    max-width: 600px;
    animation: show 0.5s linear;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .mat-list {
    display: flex;
    margin-bottom: 80px;
    animation: show 1s linear;
    @include breakpoint($sm) {
      display: block;
    }
    .mat-list-item {
      color: #ffffff;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      &:hover {
        font-weight: 900;
      }
    }
    .mat-icon {
      height: 40px;
      width: 40px;
      color: #2196f3;
      background-color: #ffffff;
      padding: 0;
      @include center-element;
      &.email {
        font-size: 30px;
      }
      &.form {
        font-size: 15px;
        font-weight: 900;
        padding-bottom: 3px;
        box-sizing: border-box;
      }
    }
  }
}
