<div class='backdrop'>
  <h2>CoTeach</h2>

  <mat-list>
    <mat-list-item>
      <img matListAvatar src="../../assets/slack.png" alt="slack" />
      <h3 matLine>edu-coteach</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon class='email'>mail</mat-icon>
      <h3 matLine>contact@coteach.app</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon class='form'>跳坑<br>表單</mat-icon>
      <h3 matLine><a href="https://reurl.cc/WLdjAy">https://reurl.cc/WLdjAy</a></h3>
    </mat-list-item>
  </mat-list>

  <h1>About Us</h1>
  <h2>關於我們</h2>
  <p>
    CoTeach教案共享平臺是一個誕生於公民科技社群g0v零時政府的開源專案。CoTeach初步整合現有線上公開教案，設計了教案搜尋引擎，下階段的目標是加入線上討論與協作教案的功能，希望跨地區、跨領域的老師都能在CoTeach
    交流與共同備課，從教師端彌平教育資源的不均等。
  </p>

</div>