@import "../../theming";

@keyframes show {
  0% {
    transform: translateY(-1vh);
  }

  100% {
    transform: unset;
  }
}

.backdrop {
  height: 100%;
  background-color: #2196f3;
  color: #ffffff;
  padding: 100px;

  h1,
  h2 {
    font-weight: 900;
    font-size: 5em;
    height: 1em;
    display: block;
    animation: show 0.5s linear;
    z-index: 2;
  }

  p {
    max-width: 600px;
    animation: show 0.5s linear;
    font-size: 1.5em;
    line-height: 1.5em;
    word-break: break-all;
    z-index: 2;
    float: left;
  }}