<mat-toolbar color="primary">
    <h1>Lesson Plan Hub</h1>

    <span class="spacer"></span>

    <div class="actions">
        <button mat-icon-button disabled>
            <mat-icon>cloud_download</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" disabled>
            <mat-icon>star_border</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" disabled>
            <mat-icon>alt_route</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" disabled>
            <mat-icon>rate_review</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" disabled>
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" disabled>
            <mat-icon>share</mat-icon>
        </button>

        <button mat-mini-fab color="primary" disabled aria-label="Example icon-button with a heart icon"
            matTooltip="creator@email.com">
            <mat-icon>face</mat-icon>
        </button>
    </div>
</mat-toolbar>

<viewer #viewer [initialValue]="plan.content"></viewer>