<mat-toolbar color="primary">
    <h1 (click)="goHome()">Lesson Plan Hub</h1>
    <span class="spacer"></span>

    <div class="actions">
        <button mat-icon-button (click)="forkPlan(plan)">
            <mat-icon>alt_route</mat-icon>
        </button>

        <button mat-icon-button *ngIf="canEdit(plan)" [routerLink]="[routerLink.EditingPlan, plan.id]">
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="setStar(plan)">
            <mat-icon *ngIf="plan.starred"> star </mat-icon>
            <mat-icon *ngIf="!plan.starred"> star_border </mat-icon>
        </button>

        <button mat-icon-button (click)="downloadPlan()">
            <mat-icon>cloud_download</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>

        <button mat-mini-fab color="primary" disabled matTooltip="creator@email.com">
            <mat-icon>face</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="content">

    <viewer #viewer *ngIf="plan != null" [initialValue]="plan.content"></viewer>
</div>