@import '~@angular/material/theming';

::ng-deep app-scaffold {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-toolbar {
    @include mat-elevation(4);

    .spacer {
        flex: 1 1 auto;
    }

    .actions {
        button {
            margin-left: 16px;
        }
    }
}

.content {
    padding: 0 calc((100vw - 800px)/2);

    .mat-card {
        margin-top: 16px;

        .mat-card-header {
            .mat-card-avatar {
                font-size: 48px;
            }
        }
    }
}