<mat-card *ngFor="let plan of dataSource">
    <mat-card-header>
        <mat-card-title>{{plan.title}}</mat-card-title>

        <mat-card-subtitle>
            {{ plan.formats }}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-chip-list>
            <span>
                <mat-icon>star_border</mat-icon> 1234
            </span>
            <span>
                <mat-icon>visibility</mat-icon> 1234
            </span>
        </mat-chip-list>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-icon-button disabled>
            <mat-icon>link</mat-icon>
        </button>

        <button mat-icon-button disabled>
            <mat-icon>group_add</mat-icon>
        </button>

        <button mat-icon-button disabled>
            <mat-icon>cloud_download</mat-icon>
        </button>

        <button mat-icon-button (click)="setStar(plan)">
            <mat-icon>{{ isStarred(plan) ? "star" : "star_border" }}</mat-icon>
        </button>

        <button mat-icon-button *ngIf="plan.isExternal" (click)="openPage(plan)">
            <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!plan.isExternal" [routerLink]="[routerLink.ViewingPlan, myId, plan.title]">
            <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!plan.isExternal" [routerLink]="[routerLink.EditingPlan, plan.id]">
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!plan.isExternal" (click)="deletePlan(plan)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>