<mat-card class="example-card" *ngFor="let plan of dataSource">
    <mat-card-header>
        <mat-card-title>
            <span> {{ plan.title }} </span>
            <span *ngIf="plan.isExternal">
                <mat-icon>picture_as_pdf</mat-icon>
            </span>
        </mat-card-title>

        <mat-card-subtitle>
            <span>
                <mat-icon>star_border</mat-icon> {{ plan.starredNumber }}
            </span>

            <span *ngIf="!plan.isExternal">
                <mat-icon>alt_route</mat-icon> {{ plan.forkedNumber }}
            </span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        {{ plan.content?.substr(0, 250) }}
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-icon-button (click)="setStar(plan)">
            <mat-icon *ngIf="plan.starred"> star </mat-icon>
            <mat-icon *ngIf="!plan.starred"> star_border </mat-icon>
        </button>

        <button mat-icon-button *ngIf="plan.isExternal" (click)="openPage(plan)">
            <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!plan.isExternal" [routerLink]="[routerLink.ViewingPlan, myId, plan.title]">
            <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!plan.isExternal">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="canFork(plan)" (click)="forkPlan(plan)">
                <mat-icon>alt_route</mat-icon>
                <span>Fork</span>
            </button>

            <button mat-menu-item *ngIf="canEdit(plan)" [routerLink]="[routerLink.EditingPlan, plan.id]">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>

            <button mat-menu-item *ngIf="!plan.isExternal" (click)="downloadPlan(plan)">
                <mat-icon>cloud_download</mat-icon>
                <span>Download PDF</span>
            </button>

            <button mat-menu-item *ngIf="canDelete(plan)" (click)="deletePlan(plan)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>

    </mat-card-actions>
</mat-card>