@import '~@angular/material/theming';

@include mat-core();

$primary-colors: mat-palette($mat-blue);
$accent-colors: mat-palette($mat-cyan);
$light-theme: mat-light-theme($primary-colors, $accent-colors);
$dark-theme: mat-dark-theme($primary-colors, $accent-colors);

@include mat-core();

.light-theme {
    @include angular-material-theme($light-theme);
}

.dark-theme {
    @include angular-material-theme($dark-theme);
}
