table {
    width: 100%;
    overflow: auto;
    padding-bottom: 16px;

    tr.cdk-row {
        cursor: pointer;

        &:hover {
            background: whitesmoke;
        }

        td.mat-cell {
            border-bottom-width: 0px;
        }
    }
}