<mat-toolbar color="primary">
    <h1>Lesson Plan Hub</h1>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <button mat-raised-button color="accent" (click)="newPlan()">
            <mat-icon>add</mat-icon> New
        </button>

        <mat-nav-list>
            <a mat-list-item [routerLink]="routerLink.MyPlan"> My Plan </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>