<mat-toolbar color="primary" [attr.data-isSubPage]="isSubPage">

  <mat-toolbar-row class='nav-links'>
    <button mat-icon-button [matMenuTriggerFor]="menu" class='sub-menu-button'>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <a mat-menu-item [routerLink]="routerLink.Home">Home</a>
        <a mat-menu-item [routerLink]="routerLink.About">About Us</a>
        <a mat-menu-item [routerLink]="routerLink.Community">Community</a>
      </ng-template>
    </mat-menu>
    <ul class='list-menu'>
      <li><a [routerLink]="routerLink.About">About Us </a></li>
      <li><a [routerLink]="routerLink.Community">Community</a></li>
    </ul>
  </mat-toolbar-row>

  <mat-toolbar-row class="home-button">
    <button mat-button [routerLink]="routerLink.Home">
      <mat-icon svgIcon="logo"></mat-icon>
      CoTeach
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <searchbar [(keyword)]="keyword" (search)="searchPlan()"></searchbar>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet (activate)="changeOfRoutes()"></router-outlet>