@import '~@angular/material/theming';

@mixin small {
  font-size: 16px;

  .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;

    .mat-form-field-flex {
      padding: 0 .75em 0 .75em;

      .mat-form-field-outline {
        bottom: -9px;
        top: -9px;
      }

      .mat-form-field-infix {
        border-top: unset;
        padding: 0;
      }
    }
  }
}

@mixin no-outline {
  .mat-form-field-outline {
    display: none;
  }
}

@mixin light-theme {
  background-color: map-get($mat-light-theme-background, 'background');
  color: $dark-primary-text;
}

.mat-toolbar {
  @include mat-elevation(4);

  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1;

  .home-button {
    height: calc(64px - 16px);
    width: 240px;

    .mat-button {
      height: 100%;
      font-size: 20px;
    }
  }

  .search-bar {
    @include light-theme;

    padding: 4px;

    .mat-form-field-appearance-outline {
      @include small;
      @include no-outline;

      width: 620px;
    }
  }
}