@import '~@angular/material/theming';

::ng-deep app-scaffold {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  
  .example-list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
  }
  
  .example-list > li:last-child {
    border-bottom: none;
  }

mat-toolbar {
    @include mat-elevation(4);

    ::ng-deep .mat-form-field {
        line-height: 1.9;
        margin-bottom: -10px;
        width: 600px;
       
        .mat-form-field-flex {


            &>.mat-form-field-infix {
                padding: 4px 0px !important;
            }

            .mat-form-field-outline {
                margin-top: 16px !important;
                color: gray;
            }

            .mat-form-field-outline-thick {
                color: gray;
            }
        }

        input {
            margin-left: 4px;
        }
    }
}

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        width: 260px;

        button {
            margin-top: 16px;
            margin-left: 16px;
        }
    }

    mat-sidenav-content {
        padding: 0 16px;
    }
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

::ng-deep .NotifyBar{
    position: absolute !important;
    right: 0 !important;
}

::ng-deep .mat-menu-panel{
    width: 500px !important;
    max-width:none !important;
}

::ng-deep  .mat-expansion-panel{
    margin:10px !important;
    padding: 5px 0 !important;
}

::ng-deep .mat-expansion-panel-header{
    padding-right:0 !important;
}

::ng-deep mat-expansion-panel-header mat-panel-description{
    font-size: 12px !important;
    width: 100px !important;
    justify-content: center !important;
    align-items: center !important;

}

mat-expansion-panel-header-description{}

// ::ng-deep .cdk-overlay-connected-position-bounding-box{
//     left:274px !important;
//     top:55px !important;
// }