@import '~@angular/material/theming';

::ng-deep app-scaffold {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-toolbar {
    @include mat-elevation(4);

    ::ng-deep .mat-form-field {
        line-height: 1.9;
        margin-bottom: -10px;
        width: 600px;

        .mat-form-field-flex {
            margin-left: 108px;

            &>.mat-form-field-infix {
                padding: 4px 0px !important;
            }

            .mat-form-field-outline {
                margin-top: 16px !important;
                color: gray;
            }

            .mat-form-field-outline-thick {
                color: gray;
            }
        }

        input {
            margin-left: 4px;
        }
    }
}

mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        width: 260px;

        button {
            margin-top: 16px;
            margin-left: 16px;
        }
    }

    mat-sidenav-content {
        padding: 16px;
        max-height: calc(100vh - 96px);
    }
}