<mat-toolbar color="primary">
    <h1>Lesson Plan Hub</h1>

    <mat-form-field class="example-full-width" appearance="outline">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>search</mat-icon>
        </button>
        <input type="text" matInput placeholder="Search">
    </mat-form-field>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <button mat-raised-button color="accent" (click)="newPlan()">
            <mat-icon>add</mat-icon> New
        </button>

        <mat-nav-list>
            <a mat-list-item [routerLink]="routerLink.SharedPlans"> Shared plans </a>
            <a mat-list-item [routerLink]="routerLink.MyPlans"> My plans </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>