<mat-toolbar color="primary">
    <button mat-icon-button (click)="save()">
        <mat-icon>done</mat-icon>
    </button>

    <div>
        <div class="header">
            <mat-form-field appearance="outline" [ngStyle]="{'width.px': width}">
                <input matInput [(ngModel)]="plan.title" (input)="resize()">
            </mat-form-field>

            <button mat-icon-button>
                <mat-icon>label</mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="menu">
                Add License
            </button>
            <mat-menu #menu="matMenu">
                <img src="https://i.imgur.com/xLC2AZe.png" style="width: 283px;">
            </mat-menu>
        </div>

        <div class="menu">
            <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
            <mat-menu #fileMenu="matMenu">
                <button mat-menu-item disabled> <span>Share</span> </button>

                <button mat-menu-item disabled> <span>New</span> </button>
                <button mat-menu-item disabled> <span>Open</span> </button>
                <button mat-menu-item disabled> <span>Make a copy</span> </button>
                <button mat-menu-item disabled>
                    <mat-icon>print</mat-icon>
                    <span>Print</span>
                </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="editMenu">Edit</button>
            <mat-menu #editMenu="matMenu">
                <button mat-menu-item disabled> <span>Undo</span> </button>
                <button mat-menu-item disabled> <span>Redo</span> </button>

                <button mat-menu-item disabled> <span>Cut</span> </button>
                <button mat-menu-item disabled> <span>Copy</span> </button>
                <button mat-menu-item disabled> <span>Paste</span> </button>
                <button mat-menu-item disabled> <span>Delete</span> </button>
                <button mat-menu-item disabled> <span>Select all</span> </button>

                <button mat-menu-item disabled> <span>Find and replace</span> </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="viewMenu">View</button>
            <mat-menu #viewMenu="matMenu">
                <button mat-menu-item disabled> <span>Print layout</span> </button>
                <button mat-menu-item disabled> <span>Mode</span> </button>

                <button mat-menu-item disabled> <span>Show rule</span> </button>
                <button mat-menu-item disabled> <span>Show document outline</span> </button>
                <button mat-menu-item disabled> <span>Show equation toolbar</span> </button>
                <button mat-menu-item disabled> <span>Show section breaks</span> </button>

                <button mat-menu-item disabled> <span>Full screen</span> </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="insertMenu">Insert</button>
            <mat-menu #insertMenu="matMenu">
                <button mat-menu-item disabled> <span>Image</span> </button>
                <button mat-menu-item disabled> <span>Table</span> </button>
                <button mat-menu-item disabled> <span>Drawing</span> </button>
                <button mat-menu-item disabled> <span>Chart</span> </button>
                <button mat-menu-item disabled> <span>Horizontal line</span> </button>
                <button mat-menu-item disabled> <span>footnote</span> </button>
            </mat-menu>

            <button mat-button style="text-decoration:underline;">
                Last edit was seconds ago
            </button>
        </div>
    </div>

    <span class="spacer"></span>

    <div class="actions">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>forum</mat-icon>
        </button>

        <button mat-icon-button disabled>
            <mat-icon>insert_comment</mat-icon>
        </button>

        <button mat-raised-button color="accent" disabled>
            <mat-icon>share</mat-icon> Share
        </button>

        <button mat-mini-fab color="primary" disabled matTooltip="creator@email.com">
            <mat-icon>face</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="false" autosize>
    <mat-drawer-content>
        <editor #editor [initialValue]="plan.content"></editor>
    </mat-drawer-content>
    <mat-drawer #drawer mode="over" position="end">
        <div class="messages" #records>
            <p *ngFor="let mes of messages"> {{ mes }}</p>
        </div>

        <mat-form-field appearance="outline">
            <textarea matInput placeholder="Type here to chat" [(ngModel)]="message" (keyup.enter)="talk()"> </textarea>
        </mat-form-field>
    </mat-drawer>
</mat-drawer-container>